body
  padding: 20px

.chat
  .log
    height: 500px
    span.from
      padding-right: 10px
      color: #42a35a
      &.me
        color: #3085d6
  .message
    width: 100%
    input.text
      width: 85%
    input.btn
      width: 15%